body {
    background-image: url('../Images/wallhaven--273501.jpg');
    background-size: 100%;
    margin: 0;
}

.address-bar {
  display: inherit;
  text-align: center;
  margin: 0;
  padding: 0 0 40px;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  color: #606060;
  text-shadow: 1px 1px 2px #606060;
}

img.displayed {
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: 'Sassy Molassy';
    src: url('../fonts/Sassy Molassy.ttf') format('truetype');
}

.grunker {
    font-size: 10em;
    color: white;
}

.SmileWithStyleLogo {
    width: 20%;
    float: right;
    margin-top: 5%;
}

.navbar-brand {
  margin-left: auto;
  margin-right: auto;
  float: none;
  height: 20px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}


@media (min-width: 768px) {
  .navbar-nav {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: auto;
  }
}

