@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container">
    <div class="box">
        <div class="col-md-12">
            
            <h3>KONTAKT</h3>
            <p>
                <p>Mail: info@smilewithstyle.nu</p>
                <p>Tel: 076-7117187</p>
                <p>Adress: Bergsrådsvägen 79</p>
                <p>128 42 Bagarmossen</p>
                <p>Leveranstid 2-5 arbetsdagar.</p>
                <p>Vill du bli återförsäljare av våra produkter? Hör gärna av er!</p>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="box">
        <div class="col-md-12">
            <h3>VÅR HISTORIA</h3>
            <p>
                <p>Smile with Style grundades i Stockholm 2014 av smyckesdesignern Nico-Lina Wernholm.</p>
                <p>
                    Vi älskar färgglada, lekfulla accessoarer som verkligen sticker ut ur mängden! Varje smycke är handgjort och därför helt unikt.
                </p>
                <p>Dessa accessoarer passar perfekt som present till någon som vill ha någonting unikt.</p>
            </p>
            <h3>SPECIALBESTÄLLNINGAR</h3>
            <p>
                <p>Om du har din egen idé om ett smycke och vill att vi skapar ett som passar just dig, har du möjlighet att göra en specialbeställning.</p>
                <p>Kontakta då oss så kan vi komma överens om något som får dina idéer att bli verklighet.</p>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="box">
        <div class="col-md-12">
            <h3>KÖPVILLKOR</h3>
            <p>
            <p>Du har alltid 14 dagars öppet köp! Det innebär att du har rätt att skicka tillbaka oanvända varor för att byta till annan vara eller få pengarna tillbaka inom 14 dagar. </p>
            <p>Vi tar ut 54 kr i fraktkostnad, när du handlar varor upp till 1 kg.</p>
            <p>Eventuellt ej uthämtat paket debiteras med 150 kr.</p>
            <p>Vi förbehåller oss rätten till prisändringar och reserverar oss för eventuella feltryck och slutförsäljning.</p>
            </p>
            <h3>LEVERANS</h3>
            <p>
            <p>Vi levererar alla försändelser med posten. Leveransen sker till ditt närmaste utlämningsställe.</p>
            <p>Alla paket ligger hos ombudet i 14 dagar innan det returneras.</p>
            <p>Om vi inte kan leverera hela beställningen vid ett och samma tillfälle betalar du endast EN fraktkostnad.</p>
            <p>Om du upptäcker en skada på paketet innan du öppnar det, ska du anmäla detta till utlämningsstället där du hämtade din försändelse.</p>
            </p>
            <h3>BYTESRÄTT/REKLAMATION/RETUR</h3>
            <p>
            <p>Du har rätt att byta vara eller få pengarna tillbaka inom 14 dagar från utleverans. Vid alla returer står du för returfrakten. Tänk på att varan ska förpackas med ett skyddande emballage.</p>
            <p>Kontakta då oss så kan vi komma överens om något som får dina idéer att bli verklighet.</p>
            </p>
            <h3>BETALNINGSSÄTT</h3>
            <p>
            <p>SWISH: Betalning görs till Swishnummer . När vi fått bekräftelse på din betalning skickar vi dina varor.</p>
            <p>FÖRSKOTTSBETALNING: Du betalar in det belopp du handlat för plus 54 kr för frakten till vårt bankkonto . På inbetalningen skall du uppge ditt namn, ordernummer eller kundnummer. När vi fått bekräftelse på din betalning skickar vi dina varor.</p>
            <p>POSTFÖRSKOTT: Vi skickar dina beställda varor och du löser ut dem på ditt utlämningsställe. Postförskottsavgift 50 kr och frakt 54 kr tillkommer.</p>
            </p>
            <h3>PERSONUPPGIFTER</h3>
            <p>
            <p>Smile with Style är ansvarig för behandlingen av de personuppgifter som du som kund lämnar till oss.</p>
            <p>Dina person- och inköpsdata kommer att behandlas för att upprätthålla vår kundrelation och även för marknadsföringsändamål.</p>
            <p>Du kan genom att skriva till oss begära att dina personuppgifter rättas eller tas bort.</p>
            </p>
            <h3>VILLKORSDATUM</h3>
            <p>
            <p>Samtliga angivna kostnader i villkoren gäller per 2014-10-01.</p>
            </p>
            <h3>EXPORT</h3>
            <p>
            <p>För leverans utanför Sverige, kontakta oss via telefon eller mail.</p>
            <p>Extra frakt tillkommer beroende på vilket land det skickas till samt storlek och vikt på paketet. Eventuell extrakostnad för betalning kan också tillkomma. </p>
            </p>
        </div>
    </div>
</div>