@{
    ViewBag.Title = "Kassa";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container">
    <div class="row">
        <div class="box">
            <table class="table">
                <tr>
                    <td class="col-md-8">
                        <img src="{imagePath}" />
                    </td>
                    <td class="col-md-4">
                        <div class="clearfix">
                            <div class="input-group col-md-5 pull-left">

                                <span class="input-group-btn">
                                    <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-minus-sign"></span></a>
                                </span>
                                <input type="text" class="form-control" placeholder="Antal">
                                <span class="input-group-btn">

                                    <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span></a>
                                </span>
                            </div>
                            <div class=" pull-right">
                                Ångra köp:
                                <a href="~/Views/KassaKlar.cshtml" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></a>
                            </div>
                        </div>
                    </td>
                    @*<th>@Html.DisplayNameFor(x => temp.ProductName)</th>
                        <th>@Html.DisplayNameFor(x => temp.ProductDescription)</th>
                        <th>@Html.DisplayNameFor(x => temp.ProductPrice)</th>*@

                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="box  col-md-6">
            <h3>Leveranssätt</h3>
            <label class="radio-inline"><input type="radio" name="optradio">Post, 29 kr</label>
            <label class="radio-inline"><input type="radio" name="optradio">Hämta i Stockholm, 0 kr</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="box  col-md-6">
            <table class="table table-hover">
                <tr>
                    <td>
                        Summa:
                    </td>
                    <td>
                        X kr
                    </td>
                </tr>
                <tr><td>Frakt, inkl. 25% moms:</td><td>"if post, 29 kr else, 0 kr"</td></tr>
                <tr><td>Moms, 25%:</td><td>"x*0.75"</td></tr>
                <tr><td>Totalt, exkl. moms</td><td>"x*0.75+frakt"</td></tr>
                <tr><td>Totalt, inkl. moms</td><td>"x+frakt"</td></tr>
            </table>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>

        <div class="box col-md-6">
            <h6>Förnamn<label class="alert-warning">*</label></h6>
            <input type="text" class="form-control" placeholder="Förnamn">
            <h6>Efternamn<label class="alert-warning">*</label></h6>
            <input type="text" class="form-control" placeholder="Efternamn">
            <h6>Adress<label class="alert-warning">*</label></h6>
            <input type="text" class="form-control" placeholder="Adress">
            <h6>Stad<label class="alert-warning">*</label></h6>
            <input type="text" class="form-control" placeholder="Stad">
            <h6>Postnummer<label class="alert-warning">*</label></h6>
            <input type="text" class="form-control" placeholder="Postnummer">
            <h6>Email<label class="alert-warning">*</label></h6>
            <input type="text" class="form-control" placeholder="Email">
            <h6>Telefonnummer <label class="alert-warning">*</label></h6>
            <input type="text" class="form-control" placeholder="Telefonnummer" required>
            <h6>Meddelande till butiken</h6>
            <input type="text" class="form-control" placeholder="Här skriver du om du har extra information om ordern">
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="box col-md-6">
            <div>
                <label class="checkbox-inline"><input type="checkbox" value="">Jag godkänner </label>
                <a href=""> försäljningsvillkoren</a>
            </div>
            <h1></h1>
            <div>
                <a href="#" class="btn btn-success">Slutför köp</a>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>



